@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    box-sizing: border-box;
    background-color: #a8b863 !important;
    font-family: "Roboto Mono", monospace !important;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
    background-color: #f0dfeaf8;
}

.nav-links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 14px;
    color: #a31161;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #be23d3;
}

.logotipo {
    color: #4e0b30;
    font-size: 19px;
    font-weight: bold;
}
.perfil {
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-perfil {
    width: 250px;
    border-radius: 50%;
    border: 3px solid #4e0b30;
    object-fit: cover;
}
.button {
    padding: 10px 20px;
    background-color: #f0dfeaf8;
    color: #a31161;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #4e0b30;
}

.button:hover {
    background-color: #c16fcc;
}
.meu-card {
    background-color: #f0dfeaf8;
    border: 2px solid #4e0b30;
    border-radius: 15px;
    color: #4e0b30;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.meu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background-color: #c16fcc;
}

.meu-card .card-title strong {
    color: #a31161;
}

.meu-card .card-text {
    color: #4e0b30;
}

.form-contato {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-contato input,
.form-contato textarea {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #4e0b30;
    font-size: 16px;
}

.form-contato button {
    padding: 12px;
    background: #e298ec;
    color: #fff;
    border: 1px solid #4e0b30;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.form-contato button:hover {
    opacity: 0.8;
}
footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #4e0b30;
}

footer a:hover {
    text-decoration: underline;
}